@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.card {
  background-color: $color-surface;
  border-radius: $radius-card;
  border: 1px solid $color-border;
  box-shadow: $shadow-small;
  overflow: hidden;
  @include hover-lift(-10px);

  &__body {
    padding: 28px;
  }

  &__image {
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
  }

  &__title {
    font-family: $font-heading;
    font-size: 19px;
    margin-bottom: $space-2;
    color: $color-text-primary;
  }

  &__text {
    font-size: $text-small;
    color: $color-text-secondary;
    line-height: 1.7;
  }
}
